body {
  font-family: Helvetica, Arial, sans-serif;
}

table, th, td {
  border-collapse: collapse;
  padding: 6px;
}

th {
  background-color: transparent;
}

table {
  thead {
    th {
      text-align: left;
    }
  }
  tfoot{
    td:first-child {
      text-align: right;
    }
    td:last-child {
      text-align: left;
    }
  }
}

#cotizacion {
  text-align: center;
  width:816px;
  height: 1056px;
  margin: 0 auto;
  background-image: url('./fondo.png');
  background-repeat: no-repeat;
  background-size: 100% auto;  /* Ajusta al ancho, alto automático */
  background-position: top center;
  padding: 2rem;
  box-sizing: border-box;
  #product-table {
    margin: 0 auto;
  }
  subtitle {
    font-size: 1.5rem;
    color: #333;
    margin-top: 0.5rem;
    font-weight: bold;
  }
  p {
    font-size: 1rem;
    color: #333;
    margin: 0.5rem 0;
    font-weight: 400;
  }
}

#delete-modal {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#delete-modal > div {
  background: white;
  padding: 20px;
  margin: 10% auto;
  width: 300px;
  text-align: center;
  border-radius: 8px;
}

@media print {
  body * {
    visibility: hidden;
  }
  #cotizacion, #cotizacion * {
    visibility: visible;
  }
  #cotizacion {
    position: absolute;
    left: 0;
    top: 0;
  }
}
